@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.navbar{
  color:blueviolet;
  padding:1em;
  display:flex;
  align-items: right;
  max-width:100%;
  border-bottom: solid #df1674b2;
}
.navbar h1{

  color: #f1356d;

}
.navbar .links{
  margin-left: auto;
  padding: 1em;
}
.navbar a{
  margin-left: 16px;
  text-decoration: underline;
}
.navbar a:hover{
  color:#f1356d
}
.menu {
  background-image: url("page1.jpg");
  color: blueviolet;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.menu h1{
  color:salmon;
  text-align: right;
  padding: 7rem;
  

}
.menu h5{
  color:salmon;
  text-align: right;
}
.services{
  background-image: url("page2.jpg");
  color: lightseagreen;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}
.services h1{
  color: salmon;
}
.services p{
  color: #f1356d;
}
.portfolio h1{
  color: salmon;

}
.advices h1{
  color:salmon;
}
.advices{

}
